<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include("./partials/nav") %> 
    <div class="container mt-3">
      <div class="row">
      <% blogs.forEach(blog => { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card" style="width: 100%;">
          <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</div>
    <%- include('./partials/scripts') %>
  </body>
</html>
